$white: #fff;
$bg: #101932;
$bg-accent: #1B2746;
$bg-invest: #30298C;
$bg-team: #162344;
$bg-token: #101D3F;
$bg-social: #162758;
$bg-info: #384D70;
$blue: #067CCB;
$red: #E11D2E;
$brown: #5A4039;
$yellow: #FFF50099;
$orange: #FF9429;
$velvet: #30298C;
$grey: #71768E;
$grey-light: #A0A3B5;
$black: #071022;